html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: Montserrat, sans-serif;
  color: $mainBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: $mainBlack;
}

a,
p,
button,
input {
  font-size: 1.25rem;
}
