.input {
  width: 188px;
  font-size: 0.875rem;
  padding: 0.84375rem 15px;
  border-radius: 0;
  border: 1px solid black;
  outline: none;

  @mixin atMedium {
    font-size: 1rem;
    width: 221px;
    padding: 15px 18px;
  }

  @mixin atLarge {
    font-size: 1.25rem;
    width: 265px;
    padding: 19px 24px;
  }

  &--transparent {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
