.side-filter {
  position: fixed;
  left: -130%;
  top: 0;
  background-color: white;
  width: 324px;
  height: 100vh;
  padding: 30px;
  overflow-y: scroll;
  transition: left 0.3s ease;
  z-index: 70;

  @mixin atLarge {
    position: static;
    left: auto;
    top: auto;
    display: block;
    flex: 0 0 16.5rem;
    width: auto;
    height: auto;
    margin-right: 30px;
    padding: 0;
    overflow-y: hidden;
  }

  &--is-visible {
    left: 0;
    z-index: 70;
  }

  &__nav {
    ul {
      margin: 0;
      list-style-type: none;
    }

    li {
      font-size: 1.25rem;
      margin-bottom: 1.875rem;
      cursor: pointer;
      transition: opacity 0.2s ease-in;
    }

    li:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    margin-top: 0;
  }

  &--m-bottom {
    margin-bottom: 2.125rem;
  }
}
